header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.infoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    position: relative;
    top: 10vh;
    left: 0;
    width: 40%;
    background-color: #282c34;
    border-radius: 20px;
    margin-left: 20px;
}

.infoInput form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.infoInput input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #282c34;
    color: rgb(255, 255, 255);
}

.infoInput select {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #282c34;
    color: rgb(255, 255, 255);
}

.infoInput button {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #58ff4d;
    color: rgb(0, 0, 0);
}
